@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root {
    --marine-blue: #02295a;
    --purplish-blue: #473dff;
    --pastel-blue: #adbeff;
    --light-blue: #bfe2fd;
    --strawberry-red: #ed3548;

    --cool-gray: #a2a5b3;
    --light-gray: #d6d9e6;
    --extra-light-gray: #f0f6ff;
    --white: #ffffff;
    }