@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root {
    --marine-blue: #03326b;
    --marine-light-blue: #0756b8;
    --purplish-blue: #473dff;
    --pastel-blue: #adbeff;
    --light-blue: #bfe2fd;
    --strawberry-red: #ed3548;

    --cool-gray: #a2a5b3;
    --light-gray: #d6d9e6;
    --extra-light-gray: #f0f6ff;
    --white: #ffffff;
}

/*-------------------------- content-01 ----------------------------------*/

.all-input::-webkit-outer-spin-button,
.all-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.all-input:focus {
    border-color: var(--purplish-blue);
}

.all-label:has(+ .all-input:focus) {
    color: var(--purplish-blue);
}

/*---------------------------- Content02 --------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin: 0 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: var(--marine-blue);
    border-radius: 34px;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    
  }
  
  .switch-input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /*---------------------------- Content03 --------------------------------*/

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: initial;
    width: initial;
  }
  
  .checkmark {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 1px #0000006b;
  }

  
  .checkbox:checked ~ .checkmark {
    background-color: var(--marine-light-blue);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }